*{
     font-family: Arial, Helvetica, sans-serif;
	
}

#logoLabel{
	font-family: Courier New;
	color:#4e80ba;
	font-size:30px;
	margin-top:10px;
}

/*================================Navigation Bar====================================*/ 
 .navbar.navbar-default{
    margin-bottom: 0px;
}

@media (max-width:767px) {
	.navbar-toggle.pull-left {
		margin-left: 10px;
	}
}
		
.menu .col-sm-2, .menu .col-xs-2{
	padding-right:0px !important;
}  
		 
.menu .col-sm-10, .menu .col-xs-10{
	padding-left:0px !important;
}

.row .well{
	background-color:red;
	height: 150px;
    width: 150px;
	margin: 0;
	text-align: center;
}

.sideadd{
	height:400px;
}


.top_link{
	padding: 15px;
}

/*=================================SignIN/SignUP===================================*/
.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}

/*==================================================================================*/
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.buscador-principal .form-control {
    height: 40px;
}

.btn {


}
@media only screen and (max-width: 768px) {
    .buscador-principal {
		display: block;
	}
	.buscador-principal button{
		width: 100%;
	}
	.claim-container {
		font-size: 20px;
		display: none;
	}
}

/*==================================================================================*/
figcaption{
    
    font-size: 15px;
}

#browseLabel{
	font-size:25px;
	text-align:center;
	color:#296d4a;
}
/*==================================Ad Form=================================*/
*[role="form"] {
    width: 500px;
	margin-left:8%;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

/*==================================Image Link Formatting=================================*/
.imglink .img-responsive
{
   background-color:white; 
}

.imglink:hover .img-responsive 
{
    background-color:#bed4db;

}

.productTitle{
	font-size:20px;
	color:#00c0d2;
}

.productDescription{
	text-align:justify;
}

.productDetail p{
	font-size:20px;
	color:#d83a53;
}

.productDetail div{
	font-size:15px;
	color:#48384d;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}